@import mixins
@import vars
@import groups

font_inc($f_bold,'Gilroy-Bold.woff2')
font_inc($google_bold,'GoogleSans-Bold.woff2')
font_inc($google_reg,'GoogleSans-Regular.woff2')

*
	m(0)
	p(0)
	box-sizing border-box

	
button,input
	background none
	border none
	outline none

	
img,svg
	max-width 100%
svg
	wh(28px)

	
a,button
	font 1em $f_bold
	color RGB($white)
	text-decoration none
	cursor pointer

ul,ol,dl
	list-style none

.set
	overflow hidden
body
	font 14px $f_bold
	color RGB($white)
	bgc(RGB($black))
	position relative
	&:after
		wh(100%)
		af()
		background-image url('/img/main-bgc.jpg')
		opacity .6
		absolute top 0 left 0
		z-index -1

	&.noScroll
		overflow hidden
		
.section
	w(100%)
	p(0 10px)
	+tablet()
		p(0 20px)
	+desktop()
		w(1170px)
		p(0)
		m(0 auto)

	
.notScrollable
	overflow hidden
.noTransition,.noTransition * {
	transition: none!important;
}

.hidden
	dn()
.head
	wh(100%,80px)
	p(10px 0)
	overflow hidden
	absolute top 0 left 0
	z-index 100
	tr()
	+tablet-large()
		p(0)
		overflow visible
	+desktop()
		h(144px)
		padding-top 24px
	&.active
		height 100vh
		background-image url('/img/main-bgc.png')
		bgc(RGB($black))
		.head
			&-burger
				&-line
					&:first-child,&:last-child
						trans(0)
	&,&.active
		+tablet-large()
			h(96px)
	.section
		h(100%)
		df({
			df: '.head .section'
		})
		flex-direction column
		+tablet-large()
			flex-direction row
			align-items center
			justify-content space-between
			position relative
	&-row
		df({
			df: '.head-row'
			ali: center
			jus: space-between
		})
		+tablet-large()
			order 1
	&-logo
		+tablet-large()
			trans(-50%,0)
			position absolute
			left 50%
	&-burger
		wh(28px)
		df({
			df: '.head-burger'
			jus: center
		})
		flex-direction column
		row-gap 8px
		+tablet-large()
			dn()
		&-line
			h(2px)
			bgc(RGB($white))
			tr()
			&:first-child
				w(16px)
				trans(12px,0)
			&:nth-child(2)
				w(100%)
			&:last-child
				w(20px)
				trans(8px,0)
	&-nav
		margin-top 50px
		p(0 20px)
		df({
			df: '.head-nav'
		})
		flex-direction column
		row-gap 20px
		+tablet-large()
			m(0)
			p(0)
			order 2
			flex-direction row
			column-gap 20px
		+desktop()
			column-gap 40px
		&-link
			&.active
				color RGB($orange)
			+tablet()
				text-transform uppercase
	&-address
		margin-top auto
		margin-bottom 30px
		df({
			df: '.head-address'
			ali: center
		})
		column-gap 10px
		color RGB($white)
		+tablet()
			text-transform uppercase
		+tablet-large()
			m(0)
		&-icon
			wh(24px)


.btn
	&,&-transparent
		h(56px)
		p(0 20px)
		df({
			df: '.btn'
			ali: center
			jus: center
		})
		column-gap 10px
		bgc(RGB($orange))
		text-transform uppercase
		+desktop()
			w(180px)
		+desktop()
			h(72px)
			tr()
	+desktop()
		&:hover
			bgc(RGB($white))
			color RGB($orange)
	&-transparent
		border 2px solid RGB($orange)
		bgc(transparent)
		&:hover
			border-color RGB($white)
			color RGB($orange)
	&-white
		p(3px 15px)
		df({
			df: '.btn-white'
			ali: center
			jus: center
		})
		column-gap 10px
		bgc(RGB($white))
		border-radius 17px
		text-transform uppercase
		font-size 14px
		color RGB($black)
.hover
	+desktop()
		position relative
		&:after
			af()
			wh(0,2px)
			bgc(RGB($white))
			tr()
			position absolute
			left 50%
			bottom -2px
		&:hover
			&:after
				w(100%)
				left 0
				
	
.title
	font-size 24px
	text-transform uppercase
	text-align center
	+tablet()
		font-size 36px
	+desktop()
		font-size 48px
		letter-spacing -.96px
	
	
.block
	padding-top 60px
	position relative
	+tablet()
		padding-top 90px
	+desktop()
		padding-top 120px
	.title
		m(0 0 20px)
		+tablet-large()
			margin-bottom 37px
	&-buttons
		df({
			df: '.block-buttons'
		})
		column-gap 18px
		text-transform uppercase
		.btn
			&:nth-child(2)
				bgc(transparent)
				+desktop()
					&:hover
						bgc(RGB($orange))
		&-right
			df({
				df: '.block-buttons-right'
				ali: center
			})
			+tablet()
				flex-shrink 0
			+tablet-large()
				margin-left 22px


.lines
	w(100%)
	df({
		df: '.lines'
		ali: center
		jus: center
	})
	column-gap 20px
	overflow hidden
	&-icon
		wh(20px)
		flex-shrink 0
		+tablet-large()
			wh(40px)
	&-item
		wh(calc(100% - 30px),4px)
		+tablet-large()
			w(calc(50% - 40px))
.ondesk-img
	dn()
	+desktop()
		display block
		position absolute
		img
			w(100%)
.main
	p(80px 0 0)
	+tablet-large()
		padding-top 96px
	+desktop()
		padding-top 144px
	&-slider
		margin-top 8px
		+tablet()
			display flex
			align-items center
			position relative
		&-control
			w(max-content)
			m(0 auto)
			p(7px 10px)
			df({
				df: '.main-slider-control'
				ali: center
				jus: center
			})
			bgc($blackBGC)
			column-gap 20px
			border-radius 15px
			+tablet()
				m(0)
				p(10px 7px)
				flex-direction column
				row-gap 40px
				position absolute
				z-index 10
				right 20px
			+desktop()
				right calc(50% - (1170px / 2))
		&-dot
			wh(16px)
			border-radius 100%
			bgc(RGB($white))
			tr()
			+desktop()
				&:hover
					bgc(RGB($orange))
			&.active
				bgc(RGB($orange))
		.ondesk-img
			+desktop()
				&.top
					w(203px)
					top -10px
					left calc(50% - 660px)
					z-index 11
				&.middle
					right calc(50% - 800px)
					z-index 11
				&.bottom
					w(149px)
					bottom -85px
					left calc(50% - 680px)
					transform rotate(-180deg)
	&-slides
		w(100%)
		df({
			df: '.main-slides'
			ali: stretch
		})
		overflow hidden
		box-shadow 0 10px 40px 0 rgba(0,0,0,.60)
		+desktop()
			position relative
			z-index 10
	&-slide
		w(100%)
		df({
			df:'.main-slide'
		})
		flex-shrink 0
		flex-direction column
		+tablet()
			h(384px)
			flex-direction row
			align-items center
			position relative
		+tablet-large()
			h(465px)
		+desktop()
			h(744px)
		&-bgc
			wh(100vw,220px)
			opacity .9
			+tablet()
				wh(100%)
				position absolute
			img
				wh(100%)
				display block
				object-fit cover
		&-info
			w(100%)
			max-width 320px
			p(20px 10px)
			color RGB($white)
			+tablet()
				p(0 20px)
				display flex
				justify-content center
				flex-direction column
				position relative
				z-index 1
			+desktop()
				w(1170px)
				m(0 auto)
				p(0)
		&-title
			m(0 0 20px!important)
			text-align left!important
			+tablet()
				w(440px!important)
				margin-top 0!important
			+desktop()
				font-size 48px
				letter-spacing -.96px
		&-text
			margin-bottom 40px
			lih(1.4)
			+tablet()
				w(421px)
				font-size 16px
			+desktop()
				font-size 20px
				margin-bottom 80px
	
			
.recommend
	&-list
		df({
			df: '.recommend-list'
		})
		flex-wrap wrap
		row-gap 24px
		column-gap 16px
		+desktop()
			position relative
			z-index 10
	&-item
		+tablet()
			w(calc(50% - 8px))
		&-img
			margin-bottom 14px
			box-shadow 0 4px 4px 0 rgba(0,0,0,.25)
			+tablet()
				wh(100%,163px)
			+tablet-large()
				h(226px)
			+desktop()
				h(264px)
			img
				wh(100%)
				object-fit cover
		&-title
			margin-bottom 10px
			font-size 20px
			text-transform uppercase
			letter-spacing -.4px
		&-text
			max-width 477px
			margin-bottom 15px
			lih(1.75)
			+tablet-large()
				font-size 16px
	&-main
		.ondesk-img
			+desktop()
				&.top-right
					top 10px
					right calc(50% - 700px)
				&.top-left
					top 250px
					left calc(50% - 740px)
				&.bottom-right
					top 610px
					right calc(50% - 700px)
				&.bottom-left
					bottom -150px
					transform rotateY(180deg)
					left calc(50% - 770px)
.building
	.ondesk-img
		+desktop()
			w 210px
			top 140px
			right calc(50% - 740px)
			transform rotateY(180deg) rotate(30deg)
	&-list
		df({
			df: '.building-list'
		})
		flex-wrap wrap
		gap 18px
	&-item
		w(100%)
		+tablet()
			w(calc(50% - 9px))
		+tablet-large()
			w(calc((100% - 54px) / 4))
		&-link
			w(100%)
			df({
				df: '.building-item'
			})
			flex-direction column
			+desktop()
				box-sizing content-box
				border 4px solid transparent
				tr()
				&:hover
					border-color RGB($orange)
		&-img
			wh(100%,264px)
			display block
			img
				wh(100%)
				object-fit cover
		&-text
			p(39px 0 33px)
			bgc(RGB($white))
			font-size 20px
			text-align center
			color RGB($black)
			text-transform uppercase
			letter-spacing -.4px
.promo
	.ondesk-img
		+desktop()
			&.top
				top 40px
				left calc(50% - 740px)
			&.bottom
				z-index 11
				bottom -40px
				right calc(50% - 740px)
	&-slider
		&-control
			+desktop()
				right 99px
	&-slide
		+desktop()
			h(456px)
		&-info
			+desktop()
				p(0 99px)
			
		
.gallery
	.ondesk-img
		+desktop()
			left calc(50% - 700px)
			z-index 11
	&-slider
		display flex
		align-items center
		justify-content center
		position relative
		&-btn
			wh(40px)
			display block
			bgc(RGB($orange))
			border 2px solid RGB($orange)
			position absolute
			z-index 10
			tr()
			+desktop()
				wh(81px,72px)
				&:hover
					bgc(transparent)
			&:active
				bgc(RGB($orange))
				transform scale(0.9)
			&-icon
				wh(20px)
				+desktop()
					wh(32px)
		&-prev
			left 10px
			+desktop()
				left calc(50% - 485.5px)
		&-next
			right 10px
			+desktop()
				right calc(50% - 485.5px)
	&-slides
		wh(100%,calc((100vw - 40px) * .46))
		df({
			df: '.gallery-slides'
			ali: center
		})
		overflow hidden
		column-gap 20px
		position relative
		+desktop()
			h(360px)
			justify-content center
	&-slide
		wh(calc(100% - 40px),100%)
		flex-shrink 0
		tr()
		+desktop()
			w(774px)
			trans(calc(100% + 117px),0)
			position absolute
			opacity 0
		&:nth-child(1)
			margin-left calc(-100% + 40px)
			+desktop()
				margin-left 0
				trans(calc(-100% - 117px),0)
		&:nth-child(2)
			+desktop()
				opacity 1
				transform none
		img
			wh(100%)
			object-fit cover
			
.contacts
	&-main
		.ondesk-img
			+desktop()
				&.top-right
					w(149px)
					transform rotate(180deg)
					top 33px
					right calc(50% - 520px)
					z-index 11
				&.bottom-right
					w(270px)
					top 50%
					right calc(50% - 750px)
					z-index 1
				&.bottom-left
					w(200px)
					bottom 40px
					left calc(50% - 750px)
				&.footer-right
					right calc(50% - 610px)
					bottom -420px
					transform rotate(185deg) rotateY(180deg) scale(.8)
	&-map
		wh(100%,55vw)
		min-height 350px
		box-shadow 0 4px 4px 0 rgba(0,0,0,.25)
		+desktop()
			h(648px)
		iframe
			wh(100%)
			opacity .9
	&-list
		padding-top 20px
		df({
			df: '.contacts-list'
			ali: center
			jus: space-between
		})
		flex-wrap wrap
		row-gap 20px
		+desktop()
			position relative
		+tablet-large()
			padding-top 35px
	&-item
		w(100%)
		df({
			df: '.contacts-item'
			ali: center
		})
		column-gap 20px
		+tablet()
			w(50%)
		+desktop()
			w(initial)
		&-title,&-text
			font-size 20px
			letter-spacing -0.02em
			text-transform uppercase
		&-text
			color RGB($orange)
		
.solo
	&-slides
		position relative
		box-shadow 0 4px 4px rgba(0,0,0,.25)
	&-slide
		w(100%)
		opacity 0
		position absolute!important
		left 0
		top 0
		tr()
		&.active
			opacity 1
			position relative!important
.foot
	padding-top 50px
	+tablet-large()
		padding-top 98px
	+desktop()
		position relative
		overflow hidden
	&-row
		p(20px 0)
		df({
			df: '.foot-row'
			ali: center
		})
		flex-direction column
		row-gap 20px
		+tablet()
			flex-direction row
			justify-content space-between
		+tablet-large()
			p(63px 0 70px)
			position relative
	&-links
		df({
			df: '.foot-links'
			ali: center
		})
		column-gap 40px
		+tablet-large()
			position absolute
			left 50%
			trans(-50%,0)
	&-link
		text-transform uppercase
	&-soc
		df({
			df: '.foot-soc'
			ali: center
		})
		column-gap 44px
		&-icon
			wh(28px)
			svg
				stroke RGB($white)
				+desktop()
					tr()
		&-link
			+desktop()
				&:hover
					svg
						stroke RGB($orange)
	.ondesk-img
		+desktop()
			w(138px)
			transform rotate(90deg)
			right calc(50% - 590px)
			bottom -90px


.popup
	wh(100%)
	df({
		df: '.popup'
		ali: center
		jus: center
	})
	background rgba(19,19,19,.40)
	backdrop-filter blur(5px)
	fixed top 0 left 0
	opacity 0
	visibility hidden
	&.active
		opacity 1
		visibility visible
		z-index 100000
	&-body
		w(100%)
		max-width calc(100% - 40px)
		border-radius 10px
		bgc(RGB($white))
		position relative
		transform scale(.8)
		tr()
		+tablet()
			w(initial)
		&.visible
			opacity 1
			visibility visible
			transform scale(1)
	&-close
		wh(34px)
		position absolute
		top -40px
		left calc(100% - 34px)
		+tablet()
			top 0
			left calc(100% + 20px)
		+desktop()
			tr()
			&:hover
				transform rotate(180deg)
		svg
			wh(100%)
	&-login
		w(100%!important)
		max-width 576px
		opacity 0
		visibility hidden
		tr()
.form
	p(20px)
	df({
		df: '.form'
		ali: flex-start
	})
	flex-direction column
	row-gap 20px
	color RGB($black)
	+tablet()
		p(30px)
	+tablet-large()
		p(50px)
	+desktop()
		p(70px 65px)
	&-label
		w(100%)
		df({
			df: '.form-label'
			ali: flex-start
		})
		flex-direction column
		row-gap 6px
		&-text
			font 20px $f_bold
			letter-spacing -0.02em
	&-input
		wh(100%,52px)
		p(0 20px)
		border-bottom 4px solid rgba(198,107,16,.2)
		box-shadow 0 0 4px 0 rgba(0, 0, 0, 0.10)
		tr()
		&:focus
			border-bottom-color RGB($orange)
		+tablet-large()
			h(72px)
	.btn
		w(100%)
		+desktop()
			&:hover
				color RGB($orange)
.login
	&-header
		p(40px 0)
		df({
			df: '.login-header'
			ali: center
			jus: center
		})
		column-gap 40px
		position relative
		&:after
			af()
			wh(100%,4px)
			background-image: url('/img/slider-top-line.png')
			position absolute
			bottom -2px
			left 0
		&-btn
			font 20px $google_bold
			color RGB($black)
			tr()
			&.active
				color RGB($orange)
			+desktop()
				tr()
				position relative
				&:after
					af()
					wh(0,2px)
					bgc(RGB($orange))
					position absolute
					left 50%
					bottom 0
					tr()
				&:not(.active):hover
					color RGB($orange)
					&:after
						w(100%)
						left 0
	&-form
		w(100%)
		df({
			df: '.login-form'
			ali: flex-start
		})
		flex-direction column
		opacity 0
		visibility hidden
		position absolute
		tr()
		&.active
			opacity 1
			visibility visible
			position static
	&-spacer
		w(100%)
		df({
			df: '.login-spacer'
			ali: center
		})
		column-gap 20px
		font 12px $google_reg
		white-space nowrap
		text-transform lowercase
		color rgba(19,19,19,.6)
		lih(20px)
		&:before,&:after
			af()
			wh(100%,1px)
			bgc(RGB($gray))
	&-buttons
		w(100%)
		df({
			df: '.login-buttons'
			ali: center
		})
		column-gap 10px
		+tablet()
			column-gap 20px
	&-button
		w(100%)
		p(12px)
		df({
			df: '.login-button'
			ali: center
			jus: center
		})
		border-radius 36px
		column-gap 10px
		box-shadow 0 0 4px 0 rgba(198,107,16,.2)
		text-transform initial
		color RGB($black)
		+tablet()
			column-gap 20px
		+desktop()
			border 2px solid transparent
			tr()
			&:hover
				border-color RGB($orange)
	&-route-link
		m(0 auto)
		display block
		text-transform initial
		font 12px $google_bold
		color RGB($orange)
		+desktop()
			position relative
			&:after
				af()
				wh(0,1px)
				bgc(RGB($orange))
				position absolute
				bottom 0
				left 50%
				tr()
			&:hover:after
				w(100%)
				left 0
.menu
	padding-top 20px
	+desktop()
		padding-top 30px
	&-nav
		padding-bottom 6px
		margin-bottom 20px
		df({
			df: '.menu-nav'
			ali: center
			jus: space-between
		})
		&:after
			bottom 2px
		+tablet()
			margin-bottom 30px
			column-gap 40px
			justify-content flex-start
		+tablet-large()
			margin-bottom 40px
		+desktop()
			margin-bottom 56px
		&,&-btn
			position relative
			&:after
				af()
				wh(100%,2px)
				bgc(RGB($white))
				position absolute
				left 0
		&-btn
			lih(16px)
			+tablet()
				text-transform uppercase
			+desktop()
				tr()
				&:hover
					color RGB($orange)
			&.active
				color RGB($orange)
				&:after
					bgc(RGB($orange))
			&:after
				z-index 1
				bottom -4px
.price
	df({
		df: '.price'
		ali: center
	})
	column-gap 20px
	&-old
		text-decoration line-through
		color RGB($red)
.product
	&-back
		position absolute
		top 10px
		+tablet()
			top 20px
	&-card
		+tablet-large()
			display flex
			align-items stretch
			column-gap 18px
		&-img
			wh(100%,200px)
			box-shadow 0 4px 4px 0 rgba(0,0,0,.25)
			+tablet()
				h(300px)
			+tablet-large()
				wh(calc(50% - 9px),360px)
				flex-shrink 0
			img
				wh(100%)
				object-fit cover
		&-info
			margin-top 20px
			df({
				df: '.product-card-info'
			})
			flex-direction column
			+tablet-large()
				m(0)
		&-title,&-weight
			font-size 20px
			letter-spacing -0.02em
		&-text
			m(10px 0 20px)
			+tablet-large()
				font-size 16px
				lih(28px)
		&-weight
			margin-bottom 20px
		.block-buttons
			+tablet-large()
				margin-top auto
.order
	&-row
		df({
			df: '.order-row'
		})
		flex-direction column
		row-gap 20px
		+tablet-large()
			align-items flex-start
			flex-direction row
			column-gap 18px
	&-list
		w(100%)
		df({
			df: '.order-list'
		})
		flex-direction column
		row-gap 24px
	&-item
		border-radius 10px
		align-items stretch
		bgc(RGB($white))
		box-shadow 0 4px 40px 0 rgba(0,0,0,.4)
		overflow hidden
		color RGB($black)
		&,&-info
			df({
				df: '.order-item'
				ali: center
			})
		&-info
			w(100%)
			p(10px 16px 10px 20px)
			column-gap 20px
			row-gap 10px
			flex-wrap wrap
		&-img
			w(120px)
			flex-shrink 0
			box-shadow 0 4px 4px 0 rgba(0,0,0,.25)
			+tablet()
				wh(81px,72px)
			img
				wh(100%)
				object-fit cover
		&-title
			font-size 20px
		.price
			+tablet()
				margin-left 20px
		.count
			+tablet()
				margin-left auto
	&-card
		p(30px)
		df({
			df: '.order-card'
		})
		flex-direction column
		flex-shrink 0
		row-gap 20px
		bgc(RGB($white))
		border-radius 10px
		color RGB($black)
		+desktop()
			p(52px 50px)
		&-line
			wh(100%,2px)
			bgc(RGB($black))
			flex-shrink 0
		&-row
			df({
				df: '.order-card-row'
				ali: center
				jus: space-between
			})
		&-title
			font-size 20px
			text-transform uppercase
		&-discount
			color RGB($red)
		.block-buttons
			margin-top 10px
		.btn
			+desktop()
				&:hover
					bgc(RGB($black))
					color RGB($white)
			&-transparent
				color RGB($black)
				use
					stroke #131313
				+desktop()
					use
						tr()
					&:hover
						color RGB($orange)
						border-color RGB($black)
						use
							stroke RGB($orange)
.count
	p(3px 5px)
	df({
		df: '.count'
		ali: center
	})
	column-gap 10px
	border-radius 17px
	bgc(rgba(198,107,16,.2))
	&-btn
		flex-shrink 0
	&-input
		w(100%)
		text-align center
		font 16px $f_bold
		+tablet()
			w(91px)
.history
	&-title
		+tablet-large()
			position absolute
			top 15px
			left 50%
			trans(-50%,0)
		+desktop()
			top 6px
	&-item
		&-info
			+tablet-large()
				justify-content space-between
		.price
			w(100%)
			+tablet()
				w(initial)
				margin-left 0
	&-address
		+tablet()
			w(100%)
		+tablet-large()
			w(initial)
.calendar
	&-head
		svg
			&:last-child
				wh(10px,5px)
		&-arrow
			margin-left 13px
