:root
	--orange: getRgb(#C66B10)
	--white: getRgb(#FFF)
	--black: getRgb(#0D0D0D)
	--gray: getRgb(#D9D9D9)
	--red: getRgb(#FF4343)


$orange = var(--orange)
$white = var(--white)
$black = var(--black)
$gray = var(--gray)
$red = var(--red)


$f_bold = 'Gilroy-Bold'
$google_bold = 'GoogleSans-Bold'
$google_reg = 'GoogleSans-Regular'

$blackBGC = rgba(19,19,19,.6)